@use '../custom' as *;
@use '../components/mixins' as *;

.services {
    position: relative;
    padding: 1rem 0;

    &__content {
        padding: 1rem;
        margin-top: 5rem;

        p {
            font-size: 1rem;

            @include breakpoint(medium) {
                font-size: .8rem;
            }
        }

        @include breakpoint(medium) {
            margin-top: 0;
        }

        i {
            font-size: 2.5rem;
            color: $primary;

            @include breakpoint(medium) {
                font-size: 1.5rem;
            }
        }
    }

    &__pick {
        max-width: 100%;
    }
}