@use '../custom' as *;

//GRADIENT MIXIN
@mixin gradient {
    background: linear-gradient(to right, rgba($primary, 0.95), rgba($secondary, 0.95));
}

//ABSOLUTE CENTER
@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//TRANSITION PROPERTY
@mixin transitionProperty {
    transition: all 1000ms;
}

//BREAKPOINTS
$breakpoints: (
    small: 499px,
    medium: 870px,
    large: 999px,
    extra-large: 1399px
);

@mixin breakpoint($size) {
    $breakpoint-value: map-get($breakpoints, $size);

    @media screen and (max-width: $breakpoint-value) {
        @content
    }
}